.Dictionary {
  text-align: center;
}

.Dictionary section {
  text-align: start;
  background: white;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 5px 10px 20px #898a8c;
  margin: 30px 20px;
}
.Dictionary input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}
